{
    "sendEmail": "True",
    "sendFtp": "True",
    "email": "you@example.com",
    "smtpServer": "smtp.example.com",
    "emailUsername": "you@example.com",
    "emailPassword": "hunter2",
    "targetMail": "they@example.com",
    "ftpServer": "example.com",
    "ftpUsername": "you",
    "ftpPassword": "hunter2",
    "ftpDirectory": "upload",
    "delay": 600
}
